* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

body {
  display: grid;
  justify-content: center;
}
#wrapper {
  display: grid;
  justify-content: center;
  height: 95vh;
  width: 95vw;
}

header {
  text-align: center;
}

#pane-1 {grid-area: play-area; height: 100%;}
#pane-2 {grid-area: suggestion-area; height: 100%;}
#pane-3 {grid-area: letter-stats; height: 100%;}

main {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65vh;
  grid-column-gap: 2rem;
  grid-template-areas:
    "play-area suggestion-area letter-stats";
}

#pane-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.word-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 16%;
}

.letter-box {
  height: 100%;
  line-height: 3rem;
  width: 18%;
  font-size: 6vh;
  text-align: center;
  margin: 0 .4rem 0 .4rem;
  caret-color: transparent;
  cursor: default;
  text-transform: uppercase;
}

input:focus {
  outline: none;
}

.white {
  background-color: white;
  color: black;
}

.gray {
  background-color: #787c7e;
}

.yellow {
  background-color: #c9b458;
  color: white;
}

.green {
  background-color: #6aaa64;
}

#pane-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
  "word-bubble word-bubble"
  "turtle ."
  "remaining-words remaining-words"
}

#turtle-square {
  grid-area: turtle;
  background-image: url("turtle.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#word-bubble {
  background-image: url("word-bubble.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  grid-area: word-bubble;
}

#possible-words-window {
  background-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid grey;
  grid-area: remaining-words;
}

#possible-words-list {
  text-align: center;
  columns: 4;
}

#possible-words-list li {
  list-style: none;
}

#pane-3 {
  overflow-x: hidden;
  border: 1px solid grey;
}

#letter-stats-list {
  list-style-type: none;
  text-align: center;
}

#letter-stats-list li {
  margin-bottom: .5rem;
}
