* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

#wrapper {
  display: grid;
  justify-content: center;
}

.word-box {
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 50vw;
  margin: .5rem 0 .5rem 0;
}

.letter-box {
  height: 5rem;
  line-height: 3rem;
  width: 5rem;
  font-size: 3rem;
  text-align: center;
  margin: 0 .4rem 0 .4rem;
  caret-color: transparent;
  cursor: default;
  style: text-transform:uppercase;
}

input:focus {
  outline: none;
}

.white {
  background-color: white;
  color: black;
}

.gray {
  background-color: #787c7e;
}

.yellow {
  background-color: #c9b458;
  color: white;
}

.green {
  background-color: #6aaa64;
}

#possible-words-window {
  background-color: black;
  color: black;
  width: 50vw;
  height: 50vw;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid grey;
}

#possible-words-list {
  text-align: center;
  columns: 4;
}

#possible-words-list li {
  list-style: none;
}
